body,
.navbar-brand,
.card-title,
.carousel-caption h5,
footer p {
    font-family: "Titan One", sans-serif;
    font-style: normal;
}

/* Remove Scroll */
body::-webkit-scrollbar {
    display: none;
}

body,
footer {
    background-color: #6eb192;
}

.footer-gradient {
    background: linear-gradient(to bottom, #6eb192, #16563b);
}

.navbar {
    background-color: #16563b;
}

.nav-link {
    color: #16563b !important;
}

.carousel-inner {
    position: relative;
}

/* To add gradient over homepage hero image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(110, 177, 146, 1) 0%, rgba(255, 255, 255, 0) 1.5%, rgba(255, 255, 255, 0) 98%, rgba(110, 177, 146, 1) 100%);
    pointer-events: none;
}

.carousel-inner img {
    height: 26.65em;
    object-fit: cover;
}


.card {
    border: none;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    background-color: #fbeedd;
    border-radius: 0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.card:hover {
    transform: scale(1.05);
}

.card-title,
.card-text {
    flex-grow: 1;
}

.card-title {
    color: #1f6e41;
    height: 3em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.card-text {
    color: #1f6e41b7;
}

.park-title{
    font-size: 3vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

@media screen and (min-width: 1200px) {
    .park-title {
       font-size: 36px;
    }
  }

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.mountain-main {
    background-color: rgb(245, 240, 226);
    padding: 20px;
    min-height: 60vh;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 75px;
    max-width: 800px;
    width: 95%;
}

.drop-shadow,
.mountain-main {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.drop-shadow-img {
    border-radius: 5px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .85);
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover,
footer a:visited,
footer a:active,
footer a:focus {
    color: #fff;
    text-decoration: none;
}

.btn {
    width: 125px;
}

.link-btn {
    background-color: #1f6e41;
    color: #fff;

    border-color: #e0dac6;
    border-width: 1px;

}

.link-btn:hover {
    background-color: #16563b;
    border-color: #e0dac6;
    color: #aaa;
}

.img-pad {
    padding-bottom: 30px;
}

@media (max-width: 765px) {
    .btn {
        width: 250px;
    }

    .rounded-button-green {
        width: 150px;
    }
}

.btn.rounded-button,
.btn.rounded-button-green {
    border: none;
    border-radius: 20px;
    margin: 5px;
}

.btn.rounded-button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f7f0e0;
    color: #16563b;
}

.btn.rounded-button-green {
    background-color: #16563b;
    color: #fff;
}

.btn.rounded-button:hover {
    background-color: #e0dac6;
}

.btn.rounded-button-green:hover {
    background-color: rgb(15, 61, 43);
    color: #fff;
}

hr.hrlarge {
    border: 3px solid #e0dac6;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    width: 100%;
}

.navbar-second {
    background: linear-gradient(to bottom, #16563b, #6eb192);
}

.navbar-second .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-second .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-second .nav-link.btn {
    width: auto;
}


.carousel-text,
.navbar-brand,
.divider-text, 
.welcome-blurb {
    text-decoration: none;
    -webkit-text-stroke: 1px hsl(188, 33%, 38%);
    text-shadow: 0px 2px 2px rgba(64, 158, 106, 0.9);
    padding: 5px 10px;
}

.divider-text {
    font-size: 1.5em;
}

.welcome-blurb{
    font-size: 1.2em;
}

.navbar-brand {
    font-size: 2.5em;
    color: #f7f0e0 !important;
    -webkit-text-stroke: 1px #18752c;
    text-shadow: 0px 2px 2px rgba(59, 240, 231, 0.5);
}

.carousel-text {
    font-size: 1.5em;
}

.sticky-footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}

.green-capsule {
    background-color: #16563b;
    border-radius: 25px;
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
}

.green-capsule label {
    display: block;
}

.green-capsule select {
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}

.navbar-second .navbar-nav,
.navbar-title .navbar-brand {
    margin-left: 28px;
}

.green-capsule label+select,
.green-capsule label+select:active,
.green-capsule label+select:hover,
.green-capsule label+select:focus {
    color: #212529;
}

.green-capsule select:focus {
    outline: none;
    border-color: transparent;
}

.hr-with-text {
    position: relative;
    margin: 20px 0;
    width: 100%;
}

.hr-with-text hr {
    border: 4px solid #e0dac6;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    width: 90%;

}

.adjusting-padding{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

@media (max-width: 450px) {
    .navbar-brand{
        font-size:1.5em;
    }
    
    .bg-footer{
        font-size: .8em;
    }

    .card-title{
        font-size: 1em;
    }

    .btn {
        width: 150px;
    }

    .rounded-button-green {
        width: 150px;
    }

    .park-title{
        padding-bottom: 100px;
    }

    .adjusting-padding{
        padding-left: 5px;
        padding-right: 5px;
    }
  }

/* Used for creating a tooltip on the mountains page for the Lat and Long */
[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    border: 3px solid #e0dac6;
    border-radius: 10px;
    background: #f7f0e0;
    padding: .25em;
    color: #16563b;
}